body {
  background-color: black;
  background-image: url(Leaves.jpg); width: 100%;
}


h1 {
  color: white;
  text-align: center;
  display: block;
  padding: 40px;
  background-color: darkolivegreen;
}


h2{
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
  background-color: darkcyan;
  margin-top: 40px;
}


p{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  margin: 0px;
  margin-left: 10px;
  background-color: black;
  width:100%;
}

.uncharted {
  display: flex;
  flex-direction: row;
}

.uncharted {
  display: flex;
  flex-direction: row;
}

.uncharted {
  display: flex;
  flex-direction: row;
}

.uncharted {
  display: flex;
  flex-direction: row;
}

.unch1 {
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
  background-color: darkcyan;
  margin-top: 40px;
}

.unch3 {
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
  background-color: peru;
  margin-top: 40px;
}

.unch2 {
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
  background-color: rgb(28, 39, 204);
  margin-top: 40px;
}

.unch4 {
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
  background-color: brown;
  margin-top: 40px;
}


h3{
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
  background-color: peru;
  margin-top: 40px;
}


.sent{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  margin: 0px;
  margin-left: 50%
  background-color black;
  width: fit-content;
}


.sent1{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}