body {
  background-color: black;
  background-image: url("Helicopter.jpg");
  background-size: cover;
  min-height: 100vh;
}


h1 {
  color: black;
  text-align: center;
}


p {
color: black;
text-align: center;
}